body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-buttons button {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-buttons button:hover {
    background-color: #555;
}

section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0da83b;

}

footer {
    background-color: #2f2c2c;
    color: #fff;
    padding: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
}

/* Change link color on hover */
a:hover {
    color: #fff;
}

.centered-div {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #444;
    color: white;
}
.centered-div2 {
    width: 70%;
    padding: 50px;
    text-align: center;
    background-color: #fff;
   
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

 table {
                border-collapse: collapse;
                width: 100%;
                margin-top: 10px;
            }

            th, td {
                border: 1px solid black;
                text-align: left;
                padding: 8px;
                color: black
            }

            th {
                background-color: #333;
                color: white
            }

     
            h2{
                color: #333;

            }
          